.landing-page{
    background-image: url("/images/landingimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 17%;
    color: #fff;
    font-size: 18px;
    background-position: center;
    box-sizing: border-box;
    height: 630px;
    width: 1328px;
    font-family: 'Gabriela', serif;
    
}
.landing-page h1{
    padding: 2px;
    margin: 5px;
}
.landing-page p{
    padding: 2px;
}
#logo{
    width: 70px;
    height: 70px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.section-about{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'Copse', serif;
    
}
#about{
    font-family: 'Gabriela', serif;
}
.services-section{
    background-image: url("/images/service-image.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Copse', serif;
    height: 430px;
    width: 1328px;
}
.services-section h2{
    font-family: 'Gabriela', serif;
}
#services{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.4);
}
.what-we-do-section{
    padding-top: 40px;
    font-family: 'Gabriela', serif;
    text-align: center;
}
.heading h2{
    padding-bottom: 40px;
}
.what-we-do-section p{
    font-family: 'Quattrocento', serif;

}
#portfolio{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18%;
    margin-right: 16%;
}
.portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
  }
  #black, #ontario, #pyramid, #jim, #nyc-day, #calc, #burn, #giraffe{
      
  } 
/* .col-md-3{
    flex: 33.33%;
    padding: 5px;

} */
