.landing-page{
    background-image: url("/images/landingimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 17%;
    color: #fff;
    font-size: 18px;
    background-position: center;
    box-sizing: border-box;
    height: 530px;
    width: 1328px;
}
.landing-page h1{
    padding: 2px;
    margin: 5px;
}
.landing-page p{
    padding: 2px;
}